{% extends "base.html" %}
{% load static %}
{% block title %} Question: {{ question.title }} {% endblock title %}
{% block content %}

<style>
  .fa-angle-up,.fa-angle-down {
    color: #007bff;
    font-size: 200%;
  }
  .btn-outline-warning:hover{
    color: white;
  }
</style>

<div class="wrapper-container" style="height:auto;">
  <div class="mt-4" style="width:90%;">
    <a href="{% url 'home' %}" 
      ><i
        class="fas fa-arrow-left text-secondary h5"
        style="cursor: pointer"
        title="Go Back"
      ></i
    ></a>
    <div class="jumbotron mt-4 border rounded" style="background-color:white">
      <div class="d-flex justify-content-between">
        <div>
          <img src="{% if question.user.image %}{{ question.user.image }}{% else %}{% static 'images/noImg.jpg' %}{% endif %}" class="profile_image" style="width:50px;height:50px;margin-right:5px" alt="no-image"/>
          <span class="h6 text-muted"
            >{{ question.user.username }}</span
          >
        </div>
        <span class="text-muted" 
          ><i class="fas fa-calendar-alt h6"></i>&nbsp;&nbsp;{{ question.created.date }}</span>
      </div>
      <h6 class="mt-5 ml-5 text-secondary font-weight-bold">Query</h6>
      <p class="text-muted h6" style="white-space:pre-wrap;margin-left:6%">{{ question.title }}</p>
      <h6 class="text-secondary mt-5 ml-5 font-weight-bold">Description</h6>
      <p class="text-muted h6" style="white-space:pre-wrap;margin-left:6%">{{ question.description }}</p>
      <div class="d-flex justify-content-end mt-5">
      {% if user.is_authenticated and user == question.user %}
          <button
            type="button"
            onclick="window.location.href = `{% url 'update-question' question.pk %}`"
            class="btn btn-primary mr-2"
          ><i class="fas fa-pen"></i>
          </button>
          <button
            type="button"
            onclick="window.location.href = `{% url 'delete-question' question.pk %}`"
            class="btn btn-danger"
          ><i class="fas fa-trash-alt"></i>
          </button>
      {% endif %}
      </div>
    </div>
    {% if user.is_authenticated %}
      <div class="d-flex my-5 w-100">
        <form
          method="POST"
          action="{% url 'answer-question' question.pk %}"
          class="d-flex flex-column float-right"
          style="width: 100%"
        >
          {% csrf_token %}
          <textarea
            name="answer"
            rows="5"
            required
            class="p-2"
            style="border: 1px solid rgba(0, 0, 0, 0.2); width:85%"
            placeholder="Answer here..."
          ></textarea>
          <button type="submit" class="btn btn-primary mt-2 align-self-start">
            Submit
          </button>
        </form>
      </div>
    {% endif %}
    {% if question.get_answers|length > 0 %}
    <div class="d-flex justify-content-center">
        <select class="p-2 text-secondary bg-white border-0" style="cursor:pointer;" onchange="sortAnswers(this)">
          <option value="recent">Recent</option>
          <option value="upvotes">Upvotes</option>
          <option value="popular">Popular</option>
        </select>
    </div>
    {% endif %}
      {% for answer in answers %}
         <div class="d-flex my-4 position-relative" style="cursor:pointer;">
            <div
              class="d-flex flex-column align-items-center justify-content-center"
              style="width: 10%; border: 1px solid rgba(0, 0, 0, 0.2)">
              <i
                class="fas fa-angle-up border px-2"
                style="cursor: pointer;color:{% if answer.vote_status == 1 %}#CCCCCC{% else %}#808080{% endif %}"
                onclick="voteAnswer(this, 'UPVOTE', {{ answer.pk }});"
              ></i>
              <span class="text-muted font-weight-bold mt-2 my-4" style="font-size: 0.7rem"
                ><i class="far fa-eye mr-2"></i>{{ answer.upvoters.count|add:answer.downvoters.count }}</span>
              <i
                class="fas fa-angle-down border px-2"
                style="cursor: pointer;color:{% if answer.vote_status == 0 %}#CCCCCC{% else %}#808080{% endif %}"
                onclick="voteAnswer(this, 'DOWNVOTE', {{ answer.pk }});"
              ></i>
            </div>
            <div class="card w-100">
              <div class="card-body" data-id="{{ answer.pk }}">
                <div class="d-flex float-right font-light" style="font-size: 0.5rem">
                  <i class="fas fa-angle-up mr-4 text-success"
                    ><span> {{ answer.upvoters.count }}</span></i
                  >
                  <i class="fas fa-angle-down text-danger"
                    ><span> {{ answer.downvoters.count }}</span></i
                  >
                </div>
                  <img src="{% if answer.answerer.image %}{{ answer.answerer.image }}{% else %}{% static 'images/noImg.jpg' %}{% endif %}" class="profile_image" style="width:30px;height:30px;margin-right:5px" alt="no-image"/>
                  <span class="h6 text-secondary">{{ answer.answerer }}</span><br />
                <div style="margin: 3%;">
                  <span class="text-muted font-weight-bold">{{ answer.answer }}</span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <span class="text-muted" style="font-size: 0.7rem"
                    ><i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;{{ answer.created.date }}</span>
                    <button class="btn btn-outline-primary ml-4" style="{% if not answer.replies.all %}visibility:hidden;{% endif %}" data-id="{{ answer.pk }}" onclick="toggleReplies(this);">
                      <span class="h6"><i class="fas fa-chevron-down h6"></i> {{ answer.replies.all|length }} Replies</span>
                    </button>
                  </div>
                  <div class="d-flex justify-content-end">
                    {% if user.is_authenticated and user == answer.answerer %}
                      <button
                        onclick="window.location.href = `${window.location.origin}/answer-question-edit/{{ answer.pk }}`"
                        class="btn btn-outline-primary mr-2"
                      ><i class="fas fa-pen"></i>
                      </button>
                    {% endif %} 
                    {% if user.is_authenticated %}
                      <button
                        onclick="(function(){
                          let container = document.querySelector(`div[data-id='R{{ answer.pk }}']`);
                          container.style.display = window.getComputedStyle(container, null).display == 'none' ? 'flex' : 'none';
                          container.querySelector('textarea').focus();
                        })()"
                        class="btn btn-outline-success mr-2"
                      >
                        <i class="fas fa-comment-dots"></i>
                      </button>
                    {% endif %}
                    {% if user.is_authenticated and user == answer.answerer %}
                      <button
                        onclick="window.location.href = `${window.location.origin}/answer-question-delete/{{ answer.pk }}`"
                        class="btn btn-outline-danger"
                      >
                        <i class="fas fa-trash-alt"></i> 
                      </button>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
      
      <div style="width:85%;display:none" id="replies_container" class="flex-column align-items-end" data-id="{{ answer.pk }}">
        {% for reply in answer.replies.all %}
          <div class="card card-body mt-1" style="width:88.5%">
            <div>
              <img src="{% if reply.replier.image %}{{ reply.replier.image }}{% else %}{% static 'images/noImg.jpg' %}{% endif %}" class="profile_image" style="width:30px;height:30px;margin-right:0px" alt="no-image"/>
              <span class="text-secondary h6">@{{ reply.replier }}</span>
            </div>
            <span class="h6 text-muted mt-3 font-weight-bold ml-4">{{ reply.reply }}</span>
          </div>
        {% endfor %}
      </div>

      <div style="display:none;" data-id="R{{ answer.pk }}">
        <div style="width: 10%"></div>
        <form
          class="w-75 mt-2"
          method="POST"
          action="{% url 'answer-question-reply' question.pk answer.pk %}"
        >
          {% csrf_token %}
          <textarea
            name="reply"
            style="width: 100%; border: 1px solid rgba(0, 0, 0, 0.2); padding: 1%"
            placeholder="Reply here..."
          ></textarea>
          <div class="float-right mt-2">
            <button type="submit" class="btn btn-primary mr-2">Reply</button>
            <button
              type="button"
              class="btn btn-danger"
              onclick="(function(){
                document.querySelector(`div[data-id='R{{ answer.pk }}']`).style.display = 'none';
              })()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    {% endfor %}
  </div>
</div>

<script>
  window.onload = () => {
    document.querySelector('select').value = window.location.href.split('/').slice(-1)[0]
    let scroll = sessionStorage.getItem('scroll')
    if(scroll) {
      scroll = scroll.split('$');
      if(scroll[0].replace(/\/[^\/]*$/, "") === window.location.href.replace(/\/[^\/]*$/, "")) window.scrollTo({ top: +scroll[1] })
    }
  }
  
  function voteAnswer(e, voteType, aid) {
    fetch(`${window.location.origin}/answer-question-vote/${aid}/${voteType}`, {
      method: "POST",
      credentials: "include",
      headers: { "X-CSRFToken": token },
    })
      .then((res) => {
        if(res.status === 200) window.location.reload()
      })
  }

  function toggleReplies(e){
    let container = Array.from(document.querySelectorAll('#replies_container')).find((con) => con.dataset.id == e.dataset.id)
    container.style.display = window.getComputedStyle(container, null).display == 'none' ? 'flex' : 'none';
    let i = e.querySelector('i') 
    if(i.classList.contains('fa-chevron-down')){
      i.className = 'fas fa-chevron-up h6';
    } else i.className = 'fas fa-chevron-down h6';
  }

  function sortAnswers(e){
    sessionStorage.setItem('scroll', `${window.location.href}$${document.documentElement.scrollTop}`)
    window.location.href = `${window.location.origin}/detail-question/{{ question.pk }}/${e.value}`;
  }
</script>
{% endblock content %}
