{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Codemen - Login {% endblock title %}
{% block content %}
<div class="wrapper-container justify-content-center">
  <a href="{% url 'index' %}" class="w-50"
    ><i
      class="fas fa-arrow-left text-primary h3"
      style="cursor: pointer"
      title="Go Back"
    ></i
  ></a>
  <i class="fas fa-code h4 text-primary"></i>
  <span class="h2 text-primary">CodeMen</span>
  <span class="h6 text-muted">Every Coder's Second Home</span>
  <form
    action="{% url 'login' %}"
    method="POST"
    class="w-50 d-flex flex-column justify-content-center"
  >
    {% csrf_token %} {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Login</button>
    <span class="text-muted mt-2"
      >New Here?
      <a href="{% url 'signup' %}" class="font-italic">Signup</a></span
    >
  </form>
</div>
{% endblock content %}
